.contact {
	display: flex;
	box-sizing: border-box;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.left-side img {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-image: cover;
  border-style: none;
   
}
.contact .left-side {
	flex: 60%;
	width: 100%;
	height: 100%;
}
.contact .right-side {
	display: flex;
	flex-direction: column;
	/* border: 2px solid coral; */
	justify-content: space-evenly;
	flex: 50%;
}
.form {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 10px 10px;
}
.form input {
	justify-content: space-between;
	padding: 10px;
	border-radius: 7px;
	border-color: coral;
	font-weight: bold;
	width: 70%;
}
.form input :focus,
textarea:focus {
	outline: none;
}
.form label {
	justify-content: space-between;
	padding: 10px 10px;
	margin: 10px 10px;
	font-weight: bold;
 
}

.form textarea {
	padding: 10px 10px;
	margin: 20px 10px;
	border-radius: 7px;
	width: 70%;
	border: 2px solid coral;
	font-weight: bold;
}
.button {
	margin-top: 20px;
}
